# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# unused folders
/archive_brutalism/
/contact_certs_arsip_digital_updated/
/home_arsip_digital_updated/
/projects_arsip_digital_updated/
/skills_experience_arsip_digital_updated/
/Downloads/

# unused files
/Deni Trio Saputra-Resume.pdf

# unused components
/src/components/ui/Badge.tsx
/src/components/ui/Button.tsx
/src/components/ui/Card.tsx
/src/components/ui/Container.tsx
/src/components/ui/SectionHeading.tsx

# typescript
*.tsbuildinfo
next-env.d.ts
